@model double

<form method="POST">
    <input class="my-number" type="number" placeholder="Enter number" name="number1" />
    <input type="text" placeholder="Enter Action" name="action" />
    <input type="number" placeholder="Enter number" name="number2" />
    <button type="submit">Submit</button>
</form>

<h1>Result: 
    @Model
</h1>

